@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-roboto-flex), Arial, Helvetica, sans-serif;

  --font-black-slanted: var(--font-roboto-flex);
  --font-black-slanted--font-variation-settings:
    "wdth" var(--wdth, 100), "slnt" var(--slnt, -10), "opsz" var(--opsz, 144),
    "wght" var(--wght, 1000);

  --font-bold-slanted: var(--font-roboto-flex);
  --font-bold-slanted--font-variation-settings:
    "wdth" var(--wdth, 74), "slnt" var(--slnt, -10), "opsz" var(--opsz, 100),
    "wght" var(--wght, 600);

  --color-primary: #01a7e1;
}

.blue-gradient-bg {
  background: linear-gradient(to bottom, #000000, #0f172a, #062f4a, #7fa0b9);
}
